
/*Browser Reset*/
* {
    margin: 0;
    padding: 0;
    background-color: #000;
    opacity: 0.9;
    color:seashell;
    text-align:center;
}
/* Global Styles*/

html{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.15;
}

body {
    
    margin: 0;
  }

  main{
    padding-top: 69px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

/*Header Styles*/ 
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 69px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    z-index: 1;
    opacity: 1;
}


.teacozy{
    height: 50px;
    margin-left: 10px;
}

li{
    list-style: none;
    display: inline-block;
    padding-right: 25px;
}

li a{
    text-decoration: underline;
    color: seashell;

}

.nav a:hover{
    opacity: 0.5;
}

/*Our Mission Styles*/
h2{
    margin-top: 5px;
    margin-bottom: 25px;
}
.mission{
    width: 90%;
    max-height: 700px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-image: url(./Resources/Images/img-mission-background.JPEG);
    justify-content: center;
    align-items: center;
    flex: 1 1200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.goals{
    width: 100%;
    padding: 0.5%;
    margin: 0;
    flex-wrap: wrap;
}

/* Tea of the Month Styles*/
.tea-container{
    width: 90%;
    padding-top: 69px;
    max-width: 1000px;
}

.container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}
.margin{
    margin: 10px;
}
figure img{
    max-width: 300px;
    max-height: 200px;
}

h2
h4{
    margin: 0.5%;
}


.location-container{
    margin-top: 69px;
    width: 90%;
    max-width: 1200px;
    max-height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1200px;
    background-image: url(/Resources/Images/img-locations-background.JPEG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.locations{
    margin-bottom: 15px;
    background-color: transparent;
}
.location-container h2{
    background-color: transparent;
}

.address-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

.address{
    width: 300px;
    max-height: 300px;
    flex-shrink: 1;
    opacity: 1;
    margin: 0px 20px 20px 20px;
    line-height: 70px;
}

.contact{
    height: 200px;
    margin-top: 10px;
}

.contact h5{
    margin-bottom: 20px;
}

footer p {
    position: absolute;
    left: 20px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1133px){
    .location-container{
        max-height: 1030px;
    } 
}

@media only screen and (max-width: 960px) {
    .location-container{
        max-height: 1030px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .location-container{
        max-height: 1030px;
    }

    .teacozy{
        width: 120px;
        height: 40px;
    }
    nav{
        align-items: center;
        justify-content: center;
    }
    nav ul{
        margin-left: 50px;
    }
    
  }
